<div class="row" *ngIf="(identity && identity.userrol == 'ROLE_ADMIN')">
    <div class="col-lg-8">
        <br/><br/>
        <h1 style="text-align: center;"> {{title}} </h1>

        <div id="publications">
            <!----->
            <br/>

            <button class="btn btn-success float-right" onclick="history.go(0)" *ngIf="(!noMore && identity.userrol == 'ROLE_ADMIN')">
        <i class="fab fa-superpowers"></i>
</button>

            <br><br>


            <!----->

            <div *ngFor="let publication of publications" class="item-publication">
                <div class="card" style="padding: 8px;margin: 10px;">
                    <div class="card-block">

                        <div>
                            <span class="publication-date">
                        <p>Admin  &nbsp; | &nbsp;
                       
                        {{ (publication.created_at | amFromUnix) |amLocale:'es' | amTimeAgo }}
                        </p>
                    </span>


                        </div>



                        <h4 class="publication-text float-left">
                            {{publication.text}}
                        </h4>

                        <div class="pull-right" *ngIf="identity.userprimernombre == 'admin'">
                            <a [routerLink]="['/publicacion']">
                                <button class="btn btn-danger float-right" style="margin: 5px;" (click)="deletePublication(publication._id)" *ngIf="showImage != publication._id">
                      
                                          <i class="fas fa-trash-alt"></i>
                                              </button>
                            </a>
                            <!--------------------------->





                            <!--------------------------->


                        </div>


                        <div class="pull-right" *ngIf="publication.file != 'null'">
                            <button class="btn btn-warning float-right" style="margin: 5px;" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
                       <i class="fas fa-image"></i>
                        </button> &nbsp;
                            <button class="btn btn-danger float-right" style="margin: 5px;" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
                            <i class="far fa-window-close"></i>
                            </button>
                        </div>

                        <div class="col-lg-12" *ngIf="publication.file != 'null' && showImage == publication._id">
                            <img src="{{url + 'get-image-pub/'+ publication.file}}" class="col-lg-12" />
                        </div>



                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-12 text-center">
            <p>
                <button class="btn btn-success" (click)="viewMore()" *ngIf="(!noMore && identity.userrol == 'ROLE_ADMIN')">
            Ver Mas Publicaciones
    </button>
            </p>

            <br/>
        </div>


    </div>
    <!---Llamada al sidebar-->

    <div class="col-lg-4" *ngIf="(identity && identity.userrol == 'ROLE_ADMIN')">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <sidebar></sidebar>


    </div>
</div>

<!--Cuando sea usuario-->


<div class="col-lg-12" *ngIf="(identity && identity.userrol == 'ROLE_USER')">



    <!----->

    <div *ngFor="let publication of publications" class="item-publication">
        <div class="card" style="padding: 2px;margin: 2px;">


            <div>
                <span class="publication-date">
                            <p>
                                    <img src="../../../assets/ista.png" class="rounded-circle" width="55px" height="55px" *ngIf="!identity.userimagen" />
            
                                ADMIN  &nbsp; | &nbsp;
                           
                            {{ (publication.created_at | amFromUnix) |amLocale:'es' | amTimeAgo }}
                            </p>
                        </span>



            </div>

            <hr/>




            <!--            <div *ngIf="publication.file != 'null'">
                <button class="btn btn-warning float-right" style="margin: 5px;" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
                           <i class="fas fa-image"></i>
                            </button> &nbsp;
                <button class="btn btn-danger float-right" style="margin: 5px;" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
                                <i class="far fa-window-close"></i>
                                </button>
            </div>
-->

            <div>
                <img src="{{url + 'get-image-pub/'+ publication.file}}" width="100%" height="450px;" />
                <hr/>
                <h5 class="publication-text float-left">
                    {{publication.text}}
                </h5>

            </div>





        </div>

    </div>







</div>