<div class="jumbotron text-center">
    <img src="../../../assets/ista.png" style="height:18% ; width: 18%;" alt="Logo Instituto">
</div>
<div>
    <h1 style="text-align: center;">Información sobre la Página</h1>
</div>
<div class="container">
    <div class="card-group">
        <div class="card" style="margin: 10px;border-color: #1976d2;">
            <img src="../../../assets/facil_de_usar.png" width="100px" height="290px" class="card-img-top" alt="Imagen Uso">

            <div class="card-body">
                <h5 class="card-title">Fácil de Usar</h5>
                <p class="card-text text-justify">
                    Interfaz amigable y sencilla de utilizar para todos los usuarios.
                </p>
            </div>
        </div>
        <div class="card" style="margin: 11px;border-color: #1976d2;">
            <img src="../../../assets/interaccion_entre_usuarios.jpg" width="100px" height="290px" class="card-img-top" alt="Imagen interaccion usuarios">
            <div class="card-body">
                <h5 class="card-title">Interacción entre Usuarios</h5>
                <p class="card-text text-justify">
                    Consulte sus grupos, publicaciones, edite datos y más para interactuar con sus amigos.
                </p>
            </div>
        </div>
        <div class="card" style="margin: 10px;border-color: #1976d2;">
            <img src="../../../assets/noticias.png" width="100px" height="290px" class="card-img-top" alt="Imagen Noticias">
            <div class="card-body">
                <h5 class="card-title">Sección de Noticias</h5>
                <p class="card-text text-justify">
                    Muro de Noticias relacionadas con el Instituto Superior "Tecnológico del Azuay".
                </p>
            </div>
        </div>
    </div>
</div>