<div class="col-lg-12">
    <h1> {{title}} </h1>
    <!--
    <div id="data-profile" *ngIf="user">

        <div class="avatar ">
            <img src="{{url +'get-image-user/'+ user.userimagen}}" class="rounded-circle float-left" width="120px" height="120px" *ngIf="user.userimagen" />
            <img src="../../../assets/user.png" class="rounded-circle float-left" width="120px" height="120px" *ngIf="!user.userimagen" />
        </div>


        <div class="uno">



            <p>
                {{user.userprimernombre}}

            </p>
            <p>
                {{user.userrol}}

            </p>


        </div>

    </div>
-->

    <!--Encabezado-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <img src="../../../assets/uno.png" style="height:14% ; width: 14%;" alt="Logo Instituto">
        </div>
    </div>
    <!--Cuerpo-->
    <!---
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" style="background-color: #e0e0e0;">
               
                <div class="card float-left" style="width: 18rem;" *ngIf="user">
                    <img src="{{url +'get-image-user/'+ user.userimagen}}" class="card-img-top" width="350px" height="350px" alt="Imagen Usuario">

                </div>
            </div>

            <div class="col-sm-8" style="background-color: #e0e0e0;" *ngIf="user">
                <div class="card-body">
                    <h3 class="card-title">Información</h3>
                    <p class="card-text"><b>Primer Nombre:            </b> {{user.userprimernombre}}</p>
                    <p class="card-text"><b>Segundo Nombre: </b>{{user.usersegundonombre}}</p>
                    <p class="card-text"><b>Primer Apellido: </b>{{user.userprimerapellido}}</p>
                    <p class="card-text"><b>Segundo Apellido: </b>{{user.usersegundoapellido}}</p>
                    <p class="card-text"><b>Telefóno: </b>{{user.usertelefono}}</p>
                    <p class="card-text"><b>Correo Electrónico: </b>{{user.usercorreo}}</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">

    </div>
-->

</div>


<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Sobre mi</h2>
            <h5>Mi Imagen:</h5>
            <div class="fakeimg" *ngIf="user">
                <img src="{{url +'get-image-user/'+ user.userimagen}}" width="300px" height="300px" class="card-img-top" alt="Imagen Usuario" *ngIf="user.userimagen" />
                <img src="assets/user.png" class="rounded-circle float-left" width="85px" height="85px" *ngIf="!user.userimagen" />
            </div>
            <p></p>

            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8" *ngIf="user">
            <h2>MIS DATOS <a [routerLink]="['/mis-datos']"><button class="btn btn-outline-primary float-right">Editar</button></a></h2>
            <h5 style="color: #1976d2 ;">Usuario</h5>

            <p class="card-text"><b>Identificación: </b>{{user.useridentificacion}}</p>
            <p class="card-text"><b>Primer Nombre:</b> {{user.userprimernombre}}</p>
            <p class="card-text"><b>Segundo Nombre: </b>{{user.usersegundonombre}}</p>
            <p class="card-text"><b>Primer Apellido: </b>{{user.userprimerapellido}}</p>
            <p class="card-text"><b>Segundo Apellido: </b>{{user.usersegundoapellido}}</p>
            <p class="card-text"><b>Telefóno: </b>{{user.usertelefono}}</p>
            <p class="card-text"><b>Dirección: </b>{{user.usersector}}</p>
            <p class="card-text"><b>Correo Electrónico: </b>{{user.usercorreo}}</p>

            <br>
        </div>
    </div>
</div>