<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>





    <!--LISTADO DE USUARIOS-->
    <div *ngFor="let user of users">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="card" style="padding: 4px;margin: 10px;position: relative;margin-top:100px;">



                    <div>

                        <img src="{{url + 'get-image-user/' + user.userimagen }}" class="rounded-circle " width="190px" height="190px" *ngIf="user.userimagen" />
                        <img src="assets/user.png" class="avatar-default" class="rounded-circle float-left" width="190px" height="190px" *ngIf="!user.userimagen" />

                    </div>

                    <ul class="nombreapellido">
                        <li>
                            <a [routerLink]="['/perfil/'+user._id]" style="text-align: center;color: black;">
                                <b>{{user.userprimernombre + ' '+ user.userprimerapellido}} </b>
                            </a>
                        </li>

                        <li>
                            {{user.usersector}}
                        </li>
                    </ul>




                </div>



            </div>

            <div class="col-log-4"></div>
        </div>






    </div>

    <!--Paginacion-->
    <ul class="pagination justify-content-end">
        <li *ngIf="page > 1"><a [routerLink]="['/gente',prev_page]"><button class="btn btn-outline-primary">Anterior</button></a></li>

        <li *ngIf="pages != page"><a [routerLink]="['/gente',next_page]"><button class="btn btn-outline-primary">Siguiente</button></a></li>
    </ul>

</body>

<script src="user.js"></script>

</html>