<div class="col-lg-8">
    <br/><br/>
    <h1 class="h1-strong text-center">{{title}}</h1>


    <div class="people">

        <!--LISTADO DE USUARIOS-->
        <div *ngFor="let user of users" class="item-user">
            <div class="card" style="padding: 8px;margin: 10px;">

                <div class="card-blockquote">

                    <div class="image-user">
                        <a href="#">
                            <img src="{{url + 'get-image-user/' + user.userimagen }}" class="rounded-circle float-left" style="margin: 4px;" width="85px" height="85px" *ngIf="user.userimagen" />
                            <img src="assets/user.png" class="avatar-default" class="rounded-circle float-left" width="85px" height="85px" *ngIf="!user.userimagen" />
                        </a>

                    </div>
                    <p class="nombreapellido">
                        <a [routerLink]="['/perfil/'+user._id]" style="color: black;">
                            <b>{{user.userprimernombre + ' '+ user.userprimerapellido}} </b>
                        </a>
                    </p>
                    <p class="identificacionusuario"> {{user.useridentificacion}}</p>

                </div>


                <!------>
                <!--
                <div class="pull-right">
                    <button class="btn btn-success" (click)="followUser(user._id)">Seguir</button>
                    <button class="btn btn-danger">DejardeSeguir</button>

                </div>
-->
                <!------>

            </div>



        </div>

        <!--Paginacion-->
        <ul class="pagination justify-content-end">
            <li *ngIf="page > 1"><a [routerLink]="['/gente',prev_page]"><button class="btn btn-outline-primary">Anterior</button></a></li>

            <li *ngIf="pages != page"><a [routerLink]="['/gente',next_page]"><button class="btn btn-outline-primary">Siguiente</button></a></li>
        </ul>

    </div>




</div>