<div class="col-lg-8">
    <h3>{{title}}</h3>

    <!--Listado de mensaje enviados-->
    <div class="people" *ngIf="messages">


        <!----->

        <div *ngFor="let message of messages" class="item-user">
            <div class="card" *ngIf="message.emitter" style="margin: 10px;padding: 10px;">
                <div class="card-block">

                    <div class="user-name">

                        <a href="#">
                            <img src="{{ url + 'get-image-user/' + message.emitter.userimagen}}" class="rounded-circle float-left" width="85px" height="85px" *ngIf="message.emitter.userimagen" />
                            <img src="assets/user.png" class="avatar-default" class="rounded-circle float-left" width="85px" height="85px" *ngIf="!message.emitter.userimagen" />

                        </a>
                    </div>

                    <div class="user-name " *ngIf="message.emitter">
                        <p class="name-surname">
                            <a [routerLink]="['/perfil',message.emitter._id]">
                                {{message.emitter.userprimernombre + ' ' + message.emitter.userprimerapellido}}

                              
                            </a>
                            <span class="date">
                                {{ (message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                            </span> &nbsp; | &nbsp;
                            <span class="receivername" *ngIf="message.receiver">
                                Enviado a {{message.receiver.userprimernombre}}


                            </span>
                        </p>

                        <p>
                            {{message.text}}
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!---->

    <!--PAGINACION-->
    <br/>
    <ul class="pagination justify-content-end">
        <li *ngIf="page > 1">
            <a [routerLink]="['/mensajes/enviados',prev_page]">
                <button class="btn btn-outline-primary"> Anterior</button></a>
        </li>
        <li *ngIf="pages != page">
            <a [routerLink]="['/mensajes/enviados',next_page]">
                <button class="btn btn-outline-primary"> Siguiente</button></a>
        </li>
    </ul>





</div>